@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: "Sriracha", cursive;
}
main{
  height: 100%;
  width: 100%;
  position: relative;
  
}

nav{
    background-color:black;
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    width: 100%;
    
    
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 40px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 20px;
    font-size: 1.3rem;
}

nav ul button{
  width: 7rem;
  cursor: pointer;
  background-color: #9DFF00;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: "Sriracha", cursive;
  color: rgba(0, 0, 0, 0.82);
}

 .ham i{
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 50px ;
  color: white;


}
.logo{
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100px;
  font-family: "Jaro", sans-serif;
  position: absolute;
  top: 20px;
  left: 10px;

  
}
.logo span{
  font-size: 1.5rem;
  text-transform: uppercase;
  color: whitesmoke;

}

.logo .sks{
  color: #9DFF00;
  line-height: 20px;

}

.logo .Fitness{
  color: #9DFF00 ;  

}
.color{
  color: #9DFF00;
}

@keyframes fadeInZoomOut {
    0% {
      opacity: 0;
      transform: scale(1); 
    }
    50% {
      opacity: 1;
      transform: scale(3); 
    }
    75% {
      opacity: 1;
      transform: scale(3); 
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }

  .hidden-content {
    opacity: 0;
    transition: opacity 1s ease-in;
    visibility:hidden; 
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }


.landpage{
    width: 100%;
    height: 100% ;
    font-family: "Sriracha", cursive;
    background: url(https://images.unsplash.com/photo-1623874106686-5be2b325c8f1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}
.overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.428);
}
.gym-name{
  opacity: 0; 
  animation: fadeInZoomOut 3s ease-in-out forwards;
  animation-delay: 0.7s;
  font-size: 2.5vw;
  color: #9DFF00;
  position: absolute; 
  top: 50%; 
  left: 37%;
  transform: translate(-50%, -37%);
  text-shadow: 2px 2px 20px white;
}

.hero{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.right img{
  height: 90%;
}

.left{
  width: 50%;
  height: 100%;
  /* background-color: red; */
  position: relative;
}

.left h1{
  font-size: 4.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  letter-spacing: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.876);
}

/* services section starts */

.servicesSection{
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}










































































form {
  margin: auto;
  background-color: rgba(250, 250, 250, 0.415);
  width: 35vw;
  padding:5%;
  box-shadow: 2px 2px 12px rgb(95, 95, 95);
  border-radius: 20px;

}
label {
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: rgb(50, 50, 50);
}
input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-family: "Sriracha", cursive;
}
button {
  padding: 10px 15px;
  background-color: #9dff00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #9dff00bb;
}























@media (max-width:600px) {
  .sidebar{
    transition: transform .4s ease-in;
  }
  .sidebarGo{
    transform: translate(606px, 0);
    position: absolute;
  }
  nav .logo{
    margin: 10px;
  }
  nav{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.852);
  }
  nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  nav ul li, button{
    margin-top: 70px;
  }

  nav ul button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ham i{
    visibility: visible;
    z-index: 11;
  }
  .landpage{
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }
  .hero{
    display: flex;
    flex-direction:column;
    align-items:center;
  }
  .right img{
    display: none;
  }
  .left{
    margin-top: 30vh;
  }
  .left h1{ 
    font-size: 3.3rem;
    letter-spacing: 10px;
  }
  
}